/* .experience__container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.experience__header {
  text-decoration: underline;
}

.experience__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1.5rem;
}

.experience__container > div {
  background: var(--color-primary);
  padding: 2.4rem 5rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
  color: var(--color-bg);
}

.experience__container > div:hover {
  background: var(--color-primary-variant);
  cursor: default;
}

.experience__container > div h3 {
  text-align: center;
  margin-bottom: 2rem;
  color: var(--color-bg);
}

.experience__content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 2rem;
  column-gap: 2rem;
}

.experience__details {
  display: flex;
  gap: 1rem;
  justify-content: center;
  text-align: center;
}

.experience__details-icon {
  margin-top: 6px;
  color: var(--color-light);
} */

.experience__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2.5rem;
}

.experience__details {
  background: var(--color-primary);
  padding: 1.2rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
  text-align: left;
}

.experience__details:hover {
  background: var(--color-primary-variant);
}

.experience__details h3 {
  margin: 1rem 1.5rem;
  color: var(--color-bg);
}

li {
  color: var(--color-bg);
}

.experience__header {
  margin-bottom: 10px;
  margin-left: 1.5rem;
}

.experience__list {
  margin: 1.5rem;
}
/* ---------------MEDIA QUERIES(MEDIUM DEVICES)----------------- */
@media screen and (max-width: 1024px) {
  .experience__container {
    grid-template-columns: 1fr;
  }
  .experience__container > div {
    width: 80%;
    padding: 2rem;
    margin: 0 auto;
  }
  .experience__content {
    padding: 1rem;
  }
}

/* ---------------MEDIA QUERIES(SMALL DEVICES)----------------- */
@media screen and (max-width: 600px) {
  .experience__container {
    gap: 1rem;
  }
}

.experience__container > div {
  width: 100%;
  padding: 2rem 1rem;
}

li {
  font-size: smaller;
}
